server {
    listen 80;
    server_name u.localhost;
    root /path/to/pste/public;
    index index.php;

    client_max_body_size 100M;

    location ~ /index\.php$ {
        include         fastcgi_params;
        try_files       $uri =404;
        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        fastcgi_pass    unix:/var/run/php7-fpm.sock;
        fastcgi_index   index.php;
        fastcgi_param   SCRIPT_FILENAME $document_root$fastcgi_script_name;
    }

    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }

    location ~ /robots.txt {
        allow all;
        log_not_found off;
        access_log off;
    }
}

server {
    listen 80;
    server_name a.localhost;
    root /path/to/pste/public;
    index index.php;

    include mime.types;

    # Very important to at least serve .php files as plaintext, otherwise your site WILL be hacked in no time at all.
    # SVG served as plaintext due to https://hackerone.com/reports/148853
    types {
        text/plain txt ini html htm shtml sh desktop;
        text/plain pl go py cs c java fish php svg;
        text/plain rb rs lua ls hy asm S conf vim;
        text/plain moon log tcl tk md coffee;
        text/plain scss ts less d hs;
    }

    gzip on;
    expires modified +1h;

    # It is very important to be specific here, otherwise your users won't be able to upload PHP files to be served as plaintext.
    location ~ /index\.php$ {
        include         fastcgi_params;
        try_files       $uri =404;
        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        fastcgi_pass    unix:/var/run/php7-fpm.sock;
        fastcgi_index   index.php;
        fastcgi_param   SCRIPT_FILENAME $document_root$fastcgi_script_name;
    }

    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }

    location = / {
        return 302 http://u.localhost;
    }

    location /uploads {
        internal;
        alias /path/to/pste/storage/app/uploads;
    }

    location ~ /robots.txt {
        allow all;
        log_not_found off;
        access_log off;
    }
}
